body{
    font-family: "Roboto", sans-serif;
}

#header {
    padding-top:50px;
    border-top:5px solid #933d35;
    height:190px;
    text-align: center;
    width:100%;
    background-color: #f1f1f1;
}

#header h2{
    line-height: normal;
}

#wrapper {
    max-width:636px;
    padding-top: 50px;
    width:80%;
    height:auto;
}

#wrapper img{
    display:block;
    width:100%;
    height:auto;
    margin-bottom: 30px;
}

#footer {
    position:relative;
    border:none;
    display:block;
    font-size:26px;
    font-weight:100;
    color:#515151;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 50px;
}

video {
    width:100%;
    height:auto;
    margin-bottom: 30px;
    border: 5px solid #cccccc;
}

#footer strong{
    font-weight: 500;
}

.back-button {
    position:fixed;
    top:50%;
    margin-left: 25px;

}

.back-button span{
    position:relative;
    top:-9px;
    font-weight: 300;
    color: #933d35;
    font-size: 22px;
    padding-left: 10px;
}

a.back-button:hover span{
    font-weight: 400;
    color:#515151;
}

.back-button img{
    display:inline;
}

@media screen and (max-width: 750px) {

    .back-button {
        display:none;
    }

}

.add-border {
    border: 1px solid #cccccc;
}

@media screen and (max-width: 415px) {
    a.back-button {
        display:none;
    }

    #wrapper {
        width:100%;
        padding:20px;
        position:relative;
    }

}

/*
@media screen and (max-width: 414px) {

    #header {
        border-top:5px solid #933d35;
        padding-top: 15px;
        background-color: rgba(240, 240, 240, 1);
        top:0;
        width:100%;
        height: 85px;
        z-index: 1;
        text-align: center;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    #footer {
        position: absolute;
        color:#010101;
        width:100%;
        height:70px;
        bottom:0;
        padding-top:13px;
        font-weight: 100;
        z-index: 200;
        text-align: center;
        background-color: rgba(240, 240, 240, 1);
    }
}*/
