/** Begin reset */
* {
    margin  : 0;
    padding : 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
ol,ul,dl { list-style-position : inside;}

h1,h2,h3,h4,h5,h6 {font-weight: normal;}

input:focus, textarea:focus, img{
    outline: none;
    border:none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-size: 16px;
    background-color: #fefefe;
    height:100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: 100;
    color: #515151;
    line-height: 100%;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    color: #a56964;
    line-height: 100%;
}

h3 {
    font-size: 36px;
    font-weight: 100;
    line-height: 100%;
    color: #515151;
    width:100%;
}

h4 {
    display:inline-block;
    background-color: #d4d4d4;
    font-size: 14px;
    color: #3b3b3b;
    font-weight: 300;
    padding: 8px 15px;
    width:200px;
}

h5{
    display:inline-block;
    font-weight: 500;
    color:#6e6e6e;
    font-size: 18px;
}

p {
    font-weight: 300;
    color: #3b3b3b;
    font-size: 14px;
}

#wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 1040px;
}

#content {
    padding-bottom: 100px;
}

#header {
    position:relative;
    height: 380px;
    padding-top: 160px;
    padding-left: 15px;
    width:100%;
    z-index: 1;
}

.background {
    position:absolute;
    height:380px;
    border-top:5px solid #933d35;
    background-color: #f1f1f1;
    width:100%;
    left:0;
    z-index: 0;
}

.project {
    line-height: 90%;
    cursor:pointer;
    padding-bottom: 4px;
}

.project-background {
    position: absolute;
    top:28px;
    left:0;
    width:100%;
    height:0;
    background-color: #eaeaea;
    z-index: -1;
}

.project-details {
    position: relative;
    display:inline-block;
    padding: 5px 0;
}

.project-details h5{
    display:none;
}

.project-details a.red-link{
    display:none;
}

.column-1{
    width:200px;
    padding-left: 13px;
}

.column-2 {
    width:100px;
    margin-left: 13px;
    margin-right: 13px;
}

.column-3 {
    width:215px;
    margin-right: 13px;
}

.column-4 {
    width:275px;
    margin-right: 13px;
}

.column-5 {
    width:140px;
}

.project [class^="column"] {
    display:inline-block;
    pointer-events: none;
}

.titles {
    padding-top: 18px;
    padding-bottom: 18px;
}

a:link, a:visited {
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
    color:#4f4f4f;
}

a:hover {
    color:#933d35;
}

#ctas .mobile-contact {
    display:none;
}

#ctas {
    padding-bottom: 30px;
}

h6 {
    font-weight: 100;
    font-size: 16px;
    color: #111111;
}

#footer {
    display:none;
    width: 100%;
    bottom:0;
    border-bottom:5px solid #933d35;
}

#mobile-details {
    display: none;
}

#landscape-notification {
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    background-color: #fefefe;
}

#landscape-notification h3{
    display:table-cell;
    /*background-color: transparent;*/
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 1200px) {
    .background {
        height:300px;
    }

    #wrapper {
        max-width: 1039px;
        min-width: 415px;
        width:100%;
        padding-left: 45px;
    }

    #header {
        height:300px;
        padding-top: 90px;
    }

    .desktop {
        display: none;
    }

    #content {
        padding-top: 35px;
    }

    h4{
        font-size:20px;
        width:300px;
        padding:15px 15px;
    }

    h5 {
        font-weight: 500;
        font-size: 16px;
        color:#484848;
        line-height: 150%;
    }
    .project {
        display:inline-block;
        padding-bottom: 25px;
        cursor: default;
        min-width: 310px;
        width:33%;
    }

    .project-background {
        display:none;
    }

    .project-details {
        position: relative;
        display:inline;
        display:block;
        padding: 25px 15px;
    }

    .project-details h5{
        display:block;
    }

    .project-details p {
        font-weight: 400;
        font-size: 14px;
        color:#8e8e8e;
        padding-bottom: 20px;
    }

    .project p:last-of-type {
        padding-bottom: 30px;
    }

    .project [class^="column"] {
        width: 100%;
        margin:0;
    }

    .project-details a.red-link{
        background-color: #933d35;
        width:100%;
        font-weight: 300;
        padding: 10px;
        text-align: center;
        margin:0;
        display:inline;
        color:#eaeaea;
        border-radius: 2px;
    }

    .project-details a.red-link:hover {
        background-color: #515151;
    }

}

@media screen and (max-width: 414px) {
    body {
        background-color: #fefefe;
    }

    #wrapper {
        position: absolute;
        width:100%;
        min-width: 0;
        padding: 0;
        z-index: 0;
        height:100px;
    }

    .background {
        height:285px;
    }

    #header {
        text-align: center;
        padding-top:55px;
        padding-left: 0;
        height:285px;
        border-top:5px solid #933d35;
        background-color: #f1f1f1;
    }

    #content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .project [class^="column"] {
        width: 100%;
        margin:0;
    }

    .project-background {
        display:none;
    }

    .project-details a.red-link{
        display:inline;
    }

    .desktop {
        display: none;
    }

    a:link, a:visited {
        display:inline;
        border-radius: 2px;
        background-color: #8c8c8c;
        padding: 10px;
        text-decoration: none;
        color:#eaeaea;
        font-size: 16px;
        margin: 0 5px;
        font-weight: 300;
        line-height: 100%;
        width:100%;
    }

    #ctas .desktop-contact {
        display:none;
    }

    #ctas .mobile-contact {
        display:inline;
    }

    h1 {
        font-size: 38px;
        line-height: 100%;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        background-color: #f1f1f1;
        padding-top:10px;
        font-size: 38px;
        color: #515151;
        font-weight: 100;
    }

    h4 {
        display:block;
        text-align: center;
        font-size: 24px;
        font-weight: 100;
        padding: 25px 0;
        width:100%;
        pointer-events: none;
    }

    h5 {
        font-weight: 500;
        font-size: 16px;
        color:#484848;
        line-height: 150%;
    }
    .project {
        padding-bottom: 15px;
        cursor: default;
        width:100%;
    }

    .project-details {
        position: relative;
        display:inline;
        display:block;
        padding: 25px 25px;
    }

    .project-details h5{
        display:inline;
    }

    .project-details p {
        font-weight: 400;
        font-size: 14px;
        color:#8e8e8e;
        padding-bottom: 20px;
    }

    .project p:last-of-type {
        padding-bottom: 30px;
    }
    .project .red-link {
        background-color: #933d35;
        width:100%;
        font-weight: 300;
        padding: 10px;
        text-align: center;
        margin:0;
    }



    #ctas {
        padding-top:35px;
        padding-bottom: 40px;
    }

    #footer {
        display:block;
        width:100%;
    }

    #mobile-details {
        display:none;
        position:absolute;
        width:100%;
        /*background-color: #fefefe;*/
        background-color: rgba(254, 254, 254, 0.5);
        z-index: 100;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    #mobile-details h2 {
        font-weight: 100;
        color: #3b3b3b;
    }

    #mobile-details h3 {
        font-weight: 500;
        font-size: 18px;
        color:#933d35;
        background-color: transparent;
        line-height: 10px;
        padding-top: 5px;
    }

    .detail-head {
        position: absolute;
        border-top:5px solid #933d35;
        padding-top: 15px;
        background-color: rgba(240, 240, 240, 1);
        top:0;
        width:100%;
        height: 85px;
        z-index: 1;
        text-align: center;
    }

    .detail-holder {
        padding-top: 100px;
        padding-bottom: 70px;
        z-index: 0;
        width:100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        text-align: center;
        background-color: rgba(254, 254, 254, 1);
    }

    .detail-holder img{
        margin-bottom: 10px;
        width:90%;
        /*border: 1px solid #d6d6d6;*/
    }

    .detail-foot {
        position: absolute;
        color:#010101;
        width:100%;
        height:70px;
        bottom:0;
        padding-top:13px;
        font-weight: 100;
        z-index: 200;
        text-align: center;
        background-color: rgba(240, 240, 240, 1);
    }

    video {
        width:90%;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }

    .close-btn {
        position:absolute;
        top:20px;
        right:20px;
    }


}



